body {background-color: white;}
form {margin-left: 20px;}

#main_title {font-size: x-large; font-weight: bold; margin-bottom: 20px;}
#main_title_2 {font-size: x-large; font-weight: bold; margin-bottom: 20px; display: none;}
#main_title_3 {font-size: x-large; font-weight: bold; margin-bottom: 20px; display: none;}
#buttons_1 {margin-left: 20px; margin-bottom: 10px;}
#buttons_2 {margin-left: 20px; margin-top: 10px;}
#add_task {margin-left: 20px;}
.vision {font-size: x-large; margin-left: 20px; display: inline;}
.nonvision {margin-left: 20px; display: none;}
.inform {font-size: x-large; display: inline; margin-right: 20px; color: blue;}
